<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="utf8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Add a New User</title>
    </head>
    <body>
        <div class="text-center">
            <h1>创建新用户！</h1>
            <form action="/user/add" method="POST">
                <p>你的姓名：<input type="text" name="name" /></p>
                <p>你的密码：<input type="password" name="password" /></p>
                <p><input type="submit" value="现在提交！" class="btn btn-primary btn-lg" /></p>
            </form>
            <p th:text="${message}"></p>
        </div>
    </body>
</html>