<!DOCTYPE html>
<html xmlns="http://thymeleaf.org">
    <head>
        <title>Query</title>
        <meta charset="utf8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="text-center">
            <div th:each="user : ${users}">
                <p class="text-danger" th:text="'用户的ID是 : ' + ${user.id}"></p>
                <p class="text-warning" th:text="'用户名是 : ' + ${user.name}"></p>
                <p class="text-success" th:text="'用户密码是 : ' + ${user.password}"></p>
                <br />
            </div>
        </div>
    </body>
</html>